@font-face {
  font-family: "Cal Sans";
  src: url("CalSans-SemiBold.woff2") format("woff2"),
    url("CalSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monarcha";
  src: url("Monarcha.woff2") format("woff2"),
    url("Monarcha.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MonarchaBold";
  src: url("MonarchaBold.woff2") format("woff2"),
    url("MonarchaBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("Outfit-Variable.ttf") format("ttf");
  font-style: normal;
  font-display: swap;
}
